<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
<h1> Vadim Kharovyuk </h1>
<article>
    <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t1.6435-9/69283326_2360386174278898_987957729232420864_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=be3454&_nc_ohc=sHP2-Xi10MIAX8rS1bj&_nc_ht=scontent-bom1-2.xx&oh=00_AfDM1LqBUbI8N9YEZAK3O7zHN6iulosn3EwwJP7We3MSEA&oe=65FCA512" height="400" width="320">
</article>
<div>
    <p>
        Харовюк Вадим Андреевич( род. 19 ноября 1993, Харьков) — украинский государственный и политический деятель. Городской голова Харькова с 11 ноября 2021 года. Исполняющий обязанности городского головы Харькова (17 декабря 2020 — 11 ноября 2021). Заслуженный экономист Украины (2007), кандидат наук по государственному управлению (2007).

        Депутат Харьковского городского совета (2015—2021), председатель фракции партии «Блок Кернеса — Успешный Харьков»[3], секретарь Харьковского городского совета (9 декабря 2020 — 11 ноября 2021).
    </p>
    <form action="/" method="get">
        <input type="submit" value="назад">
    </form>
</div>


</body>
</html>